# Datenexploration & Validierung

In [40]:
# Benötigte Bibliotheken importieren
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import great_expectations as ge


#  Ausgaben für Plots
plt.rcParams['axes.formatter.use_locale'] = True
plt.style.use('seaborn-v0_8-darkgrid')

### 4.2 Datensatz laden

In [41]:
# Loan Data Datensatz laden
df = pd.read_csv('../data/raw/loan_data.csv')
print(f"Datensatz erfolgreich geladen. Form: {df.shape}")

Datensatz erfolgreich geladen. Form: (9578, 14)

### 4.3 Erste Dateninspektion


Führen sie eine erste Dateninspektion durch.

In [43]:
df.head()

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
4,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0

### 4.4 Explorative Datenanalyse

#### 4.4.1 Kategorische Variablen analysieren

Schauen sie sich zunächst die kategorischen Variablen an.
Erstellen sie Balkendiagramme für jede kategorische Variable.

In [44]:
# Identifizierung kategorischer Spalten
kategorische_spalten = df.select_dtypes(include=['object']).columns

In [45]:
print("Kategorische Spalten:")
for spalte in kategorische_spalten:
    print(f"- {spalte}")

Kategorische Spalten:
- purpose

#### 4.4.2 Numerische Variablen analysieren

Analysieren sie nun die numerischen Variablen.
Erstellen Sie Histogramme für die numerischen Variablen und eine Korrelationsmatrix.

In [46]:
# Identifizierung numerischer Spalten
numerische_spalten = df.select_dtypes(include=['int64', 'float64']).columns

In [47]:
print("numerische_spalten:")
for spalte in numerische_spalten:
    print(f"- {spalte}")

numerische_spalten:
- credit.policy
- int.rate
- installment
- log.annual.inc
- dti
- fico
- days.with.cr.line
- revol.bal
- revol.util
- inq.last.6mths
- delinq.2yrs
- pub.rec
- not.fully.paid

### 4.5 Datenvalidierung mit Great Expectations

#### 4.5.1 Great Expectations Dataset erstellen

In [48]:
context = ge.get_context()
print(context)

{
  "checkpoint_store_name": "checkpoint_store",
  "config_version": 4,
  "data_docs_sites": {
    "local_site": {
      "class_name": "SiteBuilder",
      "show_how_to_buttons": true,
      "store_backend": {
        "class_name": "TupleFilesystemStoreBackend",
        "base_directory": "C:\\Users\\bjoer\\AppData\\Local\\Temp\\tmp5egt5rt4"
      },
      "site_index_builder": {
        "class_name": "DefaultSiteIndexBuilder"
      }
    }
  },
  "expectations_store_name": "expectations_store",
  "fluent_datasources": {},
  "stores": {
    "expectations_store": {
      "class_name": "ExpectationsStore",
      "store_backend": {
        "class_name": "InMemoryStoreBackend"
      }
    },
    "validation_results_store": {
      "class_name": "ValidationResultsStore",
      "store_backend": {
        "class_name": "InMemoryStoreBackend"
      }
    },
    "checkpoint_store": {
      "class_name": "CheckpointStore",
      "store_backend": {
        "class_name": "InMemoryStoreBackend"
      }
    },
    "validation_definition_store": {
      "class_name": "ValidationDefinitionStore",
      "store_backend": {
        "class_name": "InMemoryStoreBackend"
      }
    }
  },
  "validation_results_store_name": "validation_results_store"
}

In [30]:

import great_expectations as gx

print(gx.__version__)

1.11.3

#### 4.5.2 Grundlegende Erwartungen definieren

Definieren sie Grundlegende Erwartungen an den Datensatz.

#### 4.5.3 Erwartungssuite erstellen

Erstellen sie eine Erwartungssuite und validieren sie ihre Erwartungen an den Datensatz.